<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
        >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.E_commerce_app"
            android:usesCleartextTraffic="true"
            tools:targetApi="31"
            >
        <activity
                android:name=".ChooseVariantActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.EditProfileActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.CreateProductActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.MyOrderDetailActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.ProfileActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.ShopOrderDetailActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.MyOrderActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.ShopOrderActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.ProductShopActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.ShopOwnActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.ShopActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.CartActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.DetailPrActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.RGSellerOtpActivity"
                android:exported="false"
                >
        </activity>
        <activity
                android:name=".ui.RegisterSellerActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.UsInforActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.HomeActivity"
                android:exported="false"
                />
        <activity
                android:name=".ui.LoginSignupActivity"
                android:exported="true"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>